{% assign page_url = page.url | remove: "/" %}
{% if include.url == page_url %}
  {% assign class = "active" %}
{% else %}
  {% assign class = "" %}
{% endif %}

{% for p in site.pages %}
	{% assign p_url = p.url | remove: "/" %}
	{% if p_url == include.url %}
	  <a class="{{ class }} sidebar-nav-item" href="{{ site.baseurl }}{{ p.url }}#content">{{ p.title }}</a>
	  {% if p.next_page %}
		{% include navigation_item.html  url=p.next_page %}
	  {% endif %}
	  {% break %}
	{% endif %}
	{% if forloop.last == true %}
	  <!--ERROR: {{ this_url }} is not a page-->
	{% endif %}
{% endfor %} 

