<div class="pagination">
  {% if paginator.next_page %}
    <a id="next" class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}/#content">föregående</a>
  {% else %}
    <span class="pagination-item older">&nbsp;</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a id="next" class="pagination-item newer" href="{{site.baseurl}}/{{ site.first_page }}/#content">nästa</a>
    {% else %}
      <a id="next"class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}/#content">nästa</a>
    {% endif %}
  {% else %}
  {% if page.next_page %}
    <a id="next" class="pagination-item newer next" href="{{site.baseurl}}/{{ page.next_page }}/#content">nästa</a>
  {% else %}
    <a id="next" class="pagination-item newer next" href="{{site.baseurl}}/{{ site.first_page }}/#content">nästa</a>
  {% endif %}
  {% endif %}
</div>
